<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async) ? 'over' : 'over'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item  [routerLink]="'StudentForm'" (click)="drawer.close()">Student form</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item [routerLink]="'about'" (click)="drawer.close()">about</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button  (click)="drawer.toggle()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    
        <a class="links" [routerLink]="''"><span>Student portal</span></a>
        <span class="example-spacer"></span>
        <span (click)="themeToggle()">
          <mat-icon *ngIf="currentTheme==''">dark_mode</mat-icon>
            <mat-icon *ngIf="currentTheme=='light'">dark_mode</mat-icon>
            <mat-icon *ngIf="currentTheme=='dark'">light_mode</mat-icon>
        </span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  