<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async) ? 'over' : 'over'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item  [routerLink]="'reactive-forms'" (click)="drawer.close()">Reactive Form</a>
        <a mat-list-item [routerLink]="'template-forms'" (click)="drawer.close()">Template Form</a>
        <a mat-list-item [routerLink]="'error'" (click)="drawer.close()">Error Page</a>
        <a mat-list-item [routerLink]="'redirect'" (click)="drawer.close()">Redirect Demo</a>
        <a mat-list-item [routerLink]="'about'" (click)="drawer.close()">about</a>
        <a mat-list-item [routerLink]="'memes'" (click)="drawer.close()">Api Example</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button  (click)="drawer.toggle()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    
        <a class="links" [routerLink]="''"><span>{{siteTitle}}</span></a>
        <span class="example-spacer"></span>

          <button mat-icon-button (click)="themeToggle()"><mat-icon *ngIf="currentTheme==''">dark_mode</mat-icon>
            <mat-icon *ngIf="currentTheme=='light'">dark_mode</mat-icon>
            <mat-icon *ngIf="currentTheme=='dark'">light_mode</mat-icon></button>

      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  